<div class="row">
	<div class="span12">
		<h2>All Orders</h2>
		
		<%= form_tag import_orders_path, multipart: true do %>
		  <%= file_field_tag :import_file %>
		  <%= hidden_field_tag :import_record_type, "order" %>
		  <%= submit_tag "Import File", :class => "btn btn-primary" %>
		<% end %>
		
		<table class="table table-striped">
		  <tr>
		    <th>Customer Name</th>
		    <th>Item Description</th>
		    <th>Item Price</th>
		    <th>Purchase Count</th>
		    <th>Merchant Address</th>
		    <th>Merchant Name</th>
		    <th>Total $</th>
		  </tr>
		<% @orders.each do |order| %>
      <tr>
			  <td><%= h order.customer.full_name %></td>
				<td><%= h order.voucher.description %></td>
				<td><%= h number_to_currency(order.voucher.price) %></td>
				<td><%= h order.voucher_count %></td>
				<td><%= h order.merchant.full_name %></td>
				<td><%= h order.merchant.address %></td>
				<td><%= h number_to_currency(order.total_price) %></td>
			</tr>
		<% end %>
		</table>
	</div>
</div>