<div class="row">
	<div class="span12">
		<h2>All Orders</h2>
		
		<p><%= link_to "Import Orders", new_order_import_path, :class => "btn" %></p>
		
		<table class="table table-striped">
		  <tr>
		    <th>Customer Name</th>
		    <th>Item Description</th>
		    <th>Item Price</th>
		    <th>Purchase Count</th>
		    <th>Merchant Address</th>
		    <th>Merchant Name</th>
		    <th>Total $</th>
		  </tr>
		<% @orders.each do |order| %>
      <tr>
			  <td><%= h order.customer.full_name %></td>
				<td><%= h order.voucher.description %></td>
				<td><%= h number_to_currency(order.voucher.price) %></td>
				<td><%= h order.voucher_count %></td>
				<td><%= h order.merchant.full_name %></td>
				<td><%= h order.merchant.address %></td>
				<td><%= h number_to_currency(order.total_revenue) %></td>
			</tr>
		<% end %>
		</table>
	</div>
</div>